<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header id="header">
    <div class="logo">
        <a href="{% url 'index' %}">
            <img src="" alt="logo">
        </a>
    </div>
    <nav id="main-nav">
        <ul>
            <li>
                <a href="{% url 'products' %}">Products</a>
            </li>
            <li>
                <a href="{% url 'cart' %}">Cart</a>
            </li>
            <li>
                <a href="#">SignIn</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </nav>
</header>

<div id="content">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>