{% extends 'header.html' %}

{% block content %}

<h2>{{question}}</h2>

<!--<ul>-->
    <!--{% for choice in question.choice_set.all %}-->
    <!--<li>-->
        <!--{{choice.choice_text}}-->
    <!--</li>-->
    <!--{% endfor %}-->
<!--</ul>-->

{% if errorMessage%}
<p class="errorMessage">
    <strong>
        {{errorMessage}}
    </strong>
</p>
{% endif %}
<div id="votes_form">
<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <ul class="list-group">
        {% for choice in question.choice_set.all %}
        <li class="list-group-item">
            <input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{choice.id}}">
            <label for="choice{{forloop.counter}}">
                {{choice.choice_text}}
            </label>
        </li>
        {% endfor %}
    </ul>
    <input type="submit" class="w-50 btn btn-primary" value="Vote">
</form>
</div>
{% endblock %}