{% extends 'header.html' %}

{% block content %}

<h1 class="text-center">Welcome to Poll App</h1>
<h2>Questions :</h2>
{% if questions %}
<ul class="list-group">
    {% for ques in questions %}
    <li class="list-group-item list-group-item-secondary">
        <!--<a href="/polls/{{ques.id}}">-->
            <!--{{ques.question_text}}-->
        <!--</a>-->
        <a href="{% url 'polls:detail' ques.id %}">
            {{ques.question_text}}
        </a>
    </li>
    {% endfor %}
</ul>

{% else %}
<h3>No Questions found</h3>
{% endif %}

{% endblock %}